@charset "UTF-8";

.simple-list{
  list-style: none;
  margin: 0;
  padding: 0;

  li{
    padding: 5px;

    &:hover{
      background: #f6f6f6;
    }
    a{
      font-size: 15px;
    }
    .avatar{
      display:block;
      width: 30px;
      height: 30px;
      background: no-repeat center / cover;
      border-radius: 50%;
    }
  }
}

